@model MCHMIS.ViewModels.CutOffEditViewModel
@{
    ViewBag.Title = "Edit Cut Off";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<form asp-action="Edit">

    <div class="form-vertical">
        
        <div class="form-group col-md-12 ">
            <label asp-for="SubLocationId" class="control-label"></label>
            <input type="text" asp-for="SubLocationName" class="form-control" disabled="disabled" />
        </div>
        <div class="form-group col-md-12 ">
            <label asp-for="Value" class="control-label"></label>
            <input type="number" asp-for="Value" class="form-control" />
            <span asp-validation-for="Value" class="text-danger"></span>
        </div>
        <hr />
        <div class="form-group col-md-12 padding-top">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success pull-right btn-approve">
                <i class="glyphicon glyphicon-ok-sign"></i> Save
            </button>
        </div>

    </div>

    @Html.HiddenFor(m => m.SubLocationId)
    @Html.HiddenFor(m => m.IsNew)
</form>
