@using Newtonsoft.Json
@model MCHMIS.ViewModels.GeneratePrePayrollViewModel
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
    ViewBag.Title = "Create Fund Request";

}

@using (Html.BeginForm("Create", "FundRequests", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-vertical filter", role = "form" }))

{
    <input type="hidden" asp-for="ExpectedAmount" />
    <div class="form-vertical">
        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.PaymentCycleId, "Payment Cycle", htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("PaymentCycleId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PaymentCycleId, "", new { @class = "text-danger" })
        </div>
        <hr />

        <div class="form-group ">
            <button type="submit" class="btn btn-success pull-right">
                <i class="glyphicon glyphicon-ok-sign"></i> Generate
            </button>
        </div>
    </div>
}