@model IEnumerable<HouseholdRegMember>

@{
   

}

<div class="cont-instructions">
    <p><strong>NOTE:</strong></p>
    <ol>
        <li>Open the fingerprint scanner application and take fingerprints of the Mother's <strong>Left Index Finger</strong></li>
        <li>You will be taken automatically to the next step once the fingerprints are taken.</li>
      
    </ol>
</div>

<div class="action-cont col-md-12">
    <a asp-action="Index"  class="btn btn-danger glyphicon glyphicon-step-backward pull-left"> Back</a>

    <a href="#" class="btn btn-success pull-right lnk-refresh">
        <i class="fa fa-refresh"></i> Refresh
    </a>
</div>
<a id="RootUrl" href="~/admin/changes/@ViewBag.Url"></a>
@section scripts{
    <script>
    $(window).load(function () {
        if ('@ViewBag.Url'.indexOf('FingerPrint') < 0) {
            var url = $('#RootUrl').attr('href');
            window.location.href = url;
        }
        setTimeout(function () {
            var url = $('#RootUrl').attr('href');
            window.location.href = url;
        }, 15000);

        $('.lnk-refresh').on('click',function() {
            var url = $('#RootUrl').attr('href');
            window.location.href = url;
        });
    });
    </script>
}