@{
    ViewBag.Title = "";
    string url = $"{Model.RequestPath.Scheme}://{Model.RequestPath.Host}";
}
@section EmailHeader{Subject: MCH MIS Account Password
}

<p>Hello @ViewBag.Name,</p>
<p>Your Password is <strong>@ViewBag.Password</strong></p>
<p>&nbsp;</p>
<a href="@ViewBag.Url">Click to Login </a>

