@{
    ViewBag.Title = "Error";
}
<p>&nbsp;</p>
<p class="text-danger" style="font-size: 17px;"><strong>Sorry. An error has occured processing your request.</strong></p>
<p class="text-danger">Please go back and try again and if the error persists, contact us.</p>
<p>&nbsp;</p>