@model MCHMIS.Models.KeyMilestone

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order" class="control-label"></label>
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClinicVisitId" class="control-label"></label>
                <select asp-for="ClinicVisitId" class="form-control" asp-items="ViewBag.ClinicVisitId"></select>
                <span asp-validation-for="ClinicVisitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-danger glyphicon glyphicon-step-backward pull-left"> Back</a>
                <button type="submit" class="btn btn-success pull-right">
                    <i class="glyphicon glyphicon-ok-sign"></i> Save
                </button>
            </div>
        </form>
    </div>
</div>

