@model MCHMIS.ViewModels.ChangePasswordForcedViewModel
@{
    ViewData["Title"] = "Change Password";
}

<h2>@ViewData["Title"]</h2>
<style>
    label, span {
        float: left;
    }

    .input-group.password-field span {
        float: none;
    }

    span.text-danger.field-validation-error {
        position: relative;
    }

    .login_wrapper {
        max-width: 435px;
    }

    .bg-info p {
        text-align: left;
        margin-bottom: 5px;
    }

    span.text-danger.field-validation-error {
        position: relative;
        float: right;
    }

    .input-group .form-control {
        margin-bottom: 0 !important;
    }

    span.text-danger.field-validation-error {
        position: absolute;
        float: right;
        left: 0;
        top: -18px;
    }

    .password-field .input-group-addon {
        cursor: pointer;
    }

    .login_wrapper {
        margin: 1% auto 0;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <p>&nbsp;</p>
        <div class="bg-info" style="background-color: #d9edf7;padding: 10px;border-radius: 5px;padding: 25px">
            <p>Password must:</p>
            <p>1. Have a minimum length of 6 characters</p>
            <p>2. Have at least one upper case character (A-Z)</p>
            <p>3. Have at least one lower case character (a-z)</p>
            <p>4. Have at least one numeric character (0-9)</p>
            <p>5. Have at least one special character (!, @@, #, $, %, ^, &, or *)</p>
            <p>New password cannot be same as the old password.</p>
        </div>
    </div>
    <div class="col-md-12">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <p class="text-danger">@TempData["Error"]</p>
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
                <label asp-for="OldPassword" class="col-md-12 pull-left text-left"></label>
            </div>
            <div class="form-group">
                <div class='input-group password-field'>
                    <input asp-for="OldPassword" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </span>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Password" class="col-md-12 pull-left text-left"></label>
            </div>
            <div class="form-group">
                <div class='input-group password-field'>
                    <input asp-for="Password" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </span>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ConfirmPassword" class="col-md-12 pull-left text-left"></label>
            </div>
            <div class="form-group">
                <div class='input-group password-field'>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </span>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <p>&nbsp;</p>
            <button type="submit" class="btn btn-default pull-right">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $(document).ready(function () {
            $('.login form').on('submit', function () {
                $('#recaptcha-response').val($('body').find('#g-recaptcha-response').val());
            });
            $('.password-field .input-group-addon').on('click', function () {
                var type = $(this).parent().find('input').attr('type');
                if (type === "password") {
                    $(this).parent().find('input').prop('type', 'text');
                } else {
                    $(this).parent().find('input').prop('type', 'password');
                }
            });
        });
    </script>
}