@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Please check your email for your new password.
</p>
<a asp-action="Login" class="btn btn-primary" >Click to Login</a>
