<ul class="nav nav-tabs">

    <li class="lnk-landing">
        <a asp-action="Index" asp-controller="Landing">
            <i class="fa fa-dashboard"></i> AT A GLANCE
        </a>
    </li>
    <li class="lnk-registration">
        <a asp-action="Index" asp-controller="Registration">
            <i class="fa fa-users"></i> REGISTRATION
        </a>
    </li>

    <li class="lnk-communityvalidation">
        <a asp-action="Index" asp-controller="CommunityValidation">
            <i class="fa fa-check-square"></i> COMMUNITY VALIDATION
        </a>
    </li>
    <li class="lnk-enrolment">
        <a asp-action="Index" asp-controller="Enrolment">
            <i class="fa fa-file-text-o"></i> ENROLMENT
        </a>
    </li>
    <li class="lnk-payments">
        <a asp-action="Index" asp-controller="Payments">
            <i class="fa fa-money"></i> PAYMENTS
        </a>
    </li>
    <li class="lnk-casemanagement">
        <a asp-action="Index" asp-controller="CaseManagement">
            <i class="fa fa-book"></i> CASE MANAGEMENT
        </a>
    </li>

    <li class="lnk-complaints">
        <a asp-action="Index" asp-controller="Complaints">
            <i class="fa fa-briefcase"></i> COMPLAINTS
        </a>
    </li>
    <li class="lnk-maps">
        <a asp-action="Index" asp-controller="Maps">
            <i class="fa fa-book"></i> MAPS
        </a>
    </li>
</ul>